{
  "openapi": "3.1.0",
  "info": {
    "title": "LLM Text API",
    "description": "LLM Text is a service that provides optimized context extraction for various types of web content.",
    "version": "1.0.0",
    "contact": {
      "name": "@wkarsens"
    }
  },
  "servers": [
    {
      "url": "https://llmtext.com"
    }
  ],
  "paths": {
    "/{url}": {
      "get": {
        "operationId": "getContext",
        "summary": "Extract optimized context from a URL",
        "description": "Extracts relevant content from various web sources including GitHub repositories, npm packages, YouTube videos, and other websites.",
        "parameters": [
          {
            "name": "url",
            "in": "path",
            "required": true,
            "description": "The URL to extract context from (without the protocol)",
            "schema": {
              "type": "string"
            },
            "example": "github.com/username/repo"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "content": {
                      "type": "string",
                      "description": "Extracted and processed content"
                    },
                    "source_type": {
                      "type": "string",
                      "enum": ["github", "npm", "youtube", "website"],
                      "description": "Type of source content"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Content not found"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    }
  }
}
